<ng-template *ngIf="searchResult.length > 0; then foundBlock else noFoundBlock"></ng-template>
    <ng-template #foundBlock> 
        <h1 class="text-success m-5">Search Results for: <span class="fst-italic fw-bolder"> "{{query}}"</span></h1>
        <div class="row row-cols-5 mx-5">
            <div class="mx-5 mb-5" *ngFor="let store of searchResult">
                <div class="col-sm-4 mx-5">
                    <div class="card border border-success " style="width: 350%;height: 330px; ">
                        <div class="card-body text-center shadow" (click)="onViewStoreDetails(store.id)" title="click for details">
                            <img [src]="store.logo" class="card-img-top" alt="{{store.name}} store photo" style="width: 50%;height:25% ">
                            <h5 class="card-title">{{store.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{store.category}}</h6>
                            <div class="mb-3">
                                <span class="card-text text-success mx-2">
                                <i class="bi bi-star-fill"></i>
                                <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#star-fill"/></svg> -->
                                </span><span> {{store.rating}} </span>
                                <span class="card-text text-success mx-2">
                                <i class="bi bi-send-fill"></i>
                                <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#send-fill"/></svg> -->
                                </span><span> {{store.delivery_cost}}&euro; </span>
                                <span class="card-text text-success mx-2">
                                <i class="bi bi-clock-fill"></i>
                                <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#clock-fill"/></svg> -->
                                </span><span> {{store.delivery_time}}'</span>
                            </div>
                            <a class="btn btn-success text-wrap">{{store.name}}</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #noFoundBlock>
        <h1 class="text-success mx-5 pt-5">Search Results for: <span class="fst-italic fw-bolder"> "{{query}}"</span></h1>
        <h2 class="container m-5 text-success text-center  fst-italic fw-normal">No matching results found</h2>
    </ng-template>

           