<!-- categories container -->
<div class="container mt-5 mb-5"> 
    <div class="container " >  
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewCategories()" > Show All Categories</button>
        </div>
        <!-- <app-categories /> -->
        <div class="container mt-n3 mb-3">
            <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success ">Categories</h1>
            <ng-template *ngIf="hasLoadedCategories; then categoriesBlock else noCategoriesBlock"></ng-template>
            <ng-template #categoriesBlock> 
                <div class="card-group card-group-scroll mt-3">
                    @for (cat of fCategories| uniqueCategory; track $index){
                        <div class="card border border-success m-1" (click)="onCategoryClick(cat.category)" title="click for details">
                            <div class="card-body text-center shadow">
                                <div *ngFor="let photo of photosCategories">
                                    <div *ngIf="photo.category==cat.category">
                                        <img [src]="photo.background_image" class="card-img-top" alt="{{photo.category}}category photo" style="width: 5rem;height:5rem">
                                    </div>
                                </div>
                                <h5 class="card-title">{{cat.category}}</h5>
                                <a class="btn btn-success">See {{cat.category}}</a>
                            </div>
                        </div>
                    }
                </div>  
            </ng-template>
            <ng-template #noCategoriesBlock>
                <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Categories ..</h1>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success align-center"  style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>  
</div>
<!-- famous stores container -->
<div class="container mt-5 mb-5"> 
    <div class="container" >
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewFamousStores()" > Show All Famous Stores</button>
        </div>
        <!-- <app-famous-stores-general /> -->
        <div class="container mt-n3 mb-3">
            <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success ">Famous Stores</h1>
            <ng-template *ngIf="hasLoadedFamous; then famousBlock else noFamousBlock"></ng-template>
            <ng-template #famousBlock>
                <div class="card-group card-group-scroll mt-3">
                    @for (famousStore of famousStoresGeneral; track $index){
                        <div class="card border border-success m-1">
                            <div class="card-body text-center text-end shadow" (click)="onViewStoreDetails(famousStore.id)" title="click for details">
                                <div *ngFor="let photo of storePhotos">
                                    <div *ngIf="photo.name==famousStore.name">
                                        <img [src]="photo.background_image" class="card-img-top" alt="{{photo.name}} store photo" style="width: 40%; height:10%">
                                    </div>
                                </div>
                                <h5 class="card-title">{{famousStore.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"> {{famousStore.category}}</h6>
                                <p class="card-text">Address: {{famousStore.address}}</p>
                                <a class="btn btn-success text-wrap">See {{famousStore.name}}</a>
                            </div>
                        </div>
                    }
                </div>  
            </ng-template>
            <ng-template #noFamousBlock>
                <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Famous Stores ..</h1>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- all stores container -->
<div class="container mt-5 mb-5"> 
    <div class="container" >
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewStores()" > Show All Stores</button>
        </div>
        <div class="mt-n4">
            <app-all-stores />
        <div></div>
    </div>     
</div>