<div class="container pt-3">
    <h3>Welcome back {{first_name}}!</h3>
</div>
<!-- categories container -->
<div class="container mt-5 mb-5"> 
    <div class="container " >  
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewCategories()" > Show All Categories</button>
        </div>
        <!-- <app-categories /> -->
        <div class="container mt-n3 mb-3">
            <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success ">Categories</h1>
            <ng-template *ngIf="hasLoadedCategories; then categoriesBlock else noCategoriesBlock"></ng-template>
            <ng-template #categoriesBlock> 
                <div class="card-group card-group-scroll mt-3">
                    @for (cat of fCategories| uniqueCategory; track $index){
                        <div class="card border border-success rounded rounded-3 m-1" (click)="onCategoryClick(cat.category)" title="click for details">
                            <div class="card-body text-center shadow">
                                <div *ngFor="let photo of photosCategories">
                                    <div *ngIf="photo.category==cat.category">
                                        <img [src]="photo.background_image" class="card-img-top" alt="{{photo.category}}category photo" style="width: 5rem;height:5rem">
                                    </div>
                                </div>
                                <h5 class="card-title">{{cat.category}}</h5>
                                <a class="btn btn-success">{{cat.category}}</a>
                            </div>
                        </div>
                    }
                </div>  
            </ng-template>
            <ng-template #noCategoriesBlock>
                <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Categories ..</h1>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success align-center"  style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>  
</div>
<!-- famous stores container -->
<div class="container mt-5 mb-5"> 
    <div class="container" >
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewFamousStores()" > Show All Famous Stores</button>
        </div>
        <!-- <app-famous-stores-general /> -->
        <div class="container mt-n3 mb-3">
            <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success ">Famous Stores</h1>
            <ng-template *ngIf="hasLoadedFamous; then famousBlock else noFamousBlock"></ng-template>
            <ng-template #famousBlock>
                <div class="card-group card-group-scroll mt-3">
                    @for (famousStore of famousStoresGeneral; track $index){
                        <div class="card border border-success rounded rounded-2 m-1">
                            <div class="card-body text-center text-end shadow" (click)="onViewStoreDetails(famousStore.id)" title="click for details">
                                <img [src]="famousStore.logo" class="card-img-top" alt="{{famousStore.name}} store photo" style="width: 40%">
                                <h5 class="card-title">{{famousStore.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"> {{famousStore.category}}</h6>
                                <div class=" mb-3">
                                    <span class="card-text text-success mx-2">
                                        <i class="bi bi-star-fill"></i>
                                        <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#star-fill"/></svg> -->
                                    </span><span> {{famousStore.rating}} </span>
                                    <span class="card-text text-success mx-2">
                                        <i class="bi bi-send-fill"></i>
                                        <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#send-fill"/></svg> -->
                                    </span><span> {{famousStore.delivery_cost}}&euro; </span>
                                    <span class="card-text text-success mx-2">
                                        <i class="bi bi-clock-fill"></i>
                                        <!-- <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#clock-fill"/></svg> -->
                                    </span><span> {{famousStore.delivery_time}}'</span>
                                </div>
                                <a class="btn btn-success text-wrap">{{famousStore.name}}</a>
                            </div>
                        </div>
                    }
                </div>  
            </ng-template>
            <ng-template #noFamousBlock>
                <h1 class="text-success text-center fs-3 fst-italic fw-normal">Loading Famous Stores ..</h1>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- all stores container -->
<div class="container mt-5 mb-5"> 
    <div class="container" >
        <div class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="viewStores()" > Show All Stores</button>
        </div>
        <div class="mt-n4">
            <app-all-stores />
        <div></div>
    </div>     
</div>
<!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="send-fill"  viewBox="0 0 16 16">
        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
    </symbol>
    <symbol id="clock-fill"  viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
    </symbol>
    <symbol id="star-fill"  viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </symbol>
</svg> -->