<div class="container">
    <h1>Προφίλ</h1>
</div>

<!-- <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h3>{{first_name}} {{last_name}}</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{phone}}</li>
      <li class="list-group-item">{{email}}</li>
      <li class="list-group-item">{{address}}</li>
    </ul>
  </div> -->

<div class="container">
    <div class="row">
        <div class="card col-6 ml-auto">
            <h4 class="card-title">
                Τηλέφωνο
            </h4>
            <p class="card-body">{{phone}}</p>
        </div>
    </div>
    <div class="row">
      <div class="card col-6 ml-auto">
          <h4 class="card-title">
              Email
          </h4>
          <p class="card-body">{{email}}</p>
      </div>
  </div>
</div>

