<div class="container">
    <div class="row">
  <div class="offcanvas-header">
    <!-- <h3 class="offcanvas-title">Σύνδεση / Εγγραφή</h3> -->
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="container mt-1 mb-4">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div>
        <label class="form-label float-start"
          for="phone-l"
          >Τηλέφωνο<span class="text-danger">*</span></label
        >
        <input
          type="phone"
          name="phone"
          id="phone-l"
          formControlName="phone"
          class="form-control"
          placeholder="Τηλέφωνο"
          autocomplete="tel"
        />
        <span
          class="text-danger"
          *ngIf="
            form.get('phone')?.hasError('required') &&
            form.get('phone')?.touched
          "
          >*Υποχρεωτικό πεδίο</span
        >
        <span
          class="text-danger"
          *ngIf="
            form.get('phone')?.hasError('minlength') &&
            form.get('phone')?.touched
          "
          >*Τουλαχιστον 10 ψηφια</span
        >
        <span
          class="text-danger"
          *ngIf="
            form.get('phone')?.hasError('maxlength') &&
            form.get('phone')?.touched
          "
          >*Μεγιστο 10 ψηφια</span
        >
      </div>
      <div>
        <label class="form-label float-start" for="email-l"
          >Email<span class="text-danger">*</span></label
        >
        <input
          name="email"
          id="email-l"
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
          autocomplete="email"
          email
        />
        <span
          class="text-danger"
          *ngIf="
            form.get('email')?.hasError('required') &&
            form.get('email')?.touched
          "
          >*Υποχρεωτικό πεδίο</span
        >
        <span
          class="text-danger"
          *ngIf="
            form.get('email')?.hasError('email') &&
            form.get('email')?.touched
          "
          >*Λαθος μορφή email</span
        >
      </div>
    </form>
  </div>

  <div class="container px-auto">
    <button 
      (click)="onSubmit()"
      data-bs-dismiss="offcanvas"
      routerLink="/discovery"
      [disabled]="form.invalid"
      type="submit"
      class="btn btn-success float-start"
    >
      Παράγγειλε τώρα
    </button>
  </div>
  <br>
  <p>
    Δεν έχεις λογαριασμό; Κάνε εγγραφή
    <a data-bs-dismiss="offcanvas" routerLink="/sign-up">εδώ</a>
  </p>
</div>
</div>
