.ng-pristine:not(form) {
    border-left: 6px solid grey; 
}
.ng-touched:not(form), .ng-valid:not(form) {
    border-left: 6px solid  #a94442; 
}
ng-valid, .ng-valid:not(form) {
    border-left: 6px solid #42A948; 
}