<div class="container p-2">
    <div class="container border my-5">
        <h1 class="text-success">About us</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit accusamus laudantium, rem culpa tenetur saepe officiis, facere qui aperiam consequatur vel esse, vitae earum voluptatibus officia similique adipisci. Veniam, similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nostrum repellendus. Sapiente reiciendis similique nobis, possimus dolorem eius veniam repellat repudiandae vero in ab, nemo illo laborum vel unde voluptatem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni vel mollitia veritatis, ut illo ratione quidem, voluptate non totam atque fuga nemo rerum maxime facere molestias velit excepturi dolor obcaecati?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nostrum repellendus. Sapiente reiciendis similique nobis, possimus dolorem eius veniam repellat repudiandae vero in ab, nemo illo laborum vel unde voluptatem.</p>
    </div>
</div>