<div class="card border border-success m-4" style="width: 18rem;">
    <img [src]="" class="card-img-top" [alt]="store.name">
    <div class="card-body shadow">
      <h5 class="card-title">{{ store.name }}</h5>
      <p class="card-text">{{ store.category }}
      </p>
      <div class="row">
        <div class="col">
          <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onViewStoreDetails(store.id)">Details</a>
        </div>
        
      </div>
      
    </div>
</div>
