
<div class="container pt-4">
  <div class="col-sm-4 mx-5 px-1">
    <div class="card border border-success mx-3" style="width:390%; height: 290px">
      <div class="card-body text-center shadow">
        <div *ngFor="let photo of storePhotos">
          <div *ngIf="photo.name==store.name">
            <img [src]="photo.background_image" class="card-img-top" alt="{{photo.name}} store photo" style="width: 30%; height:10%">
          </div>
        </div>
        <h5 class="card-title">{{ store.name }}</h5>
        <p class="card-subtitle mb-2 text-muted">{{ store.category }}</p>
        <p class="card-text">Address: {{store.address}}</p>
        <div class="row">
          <div class="col">
            <a class="btn btn-success text-wrap" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onViewStoreDetails(store.id)">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
