<div class="container my-5">
    <div class=" d-flex flex-wrap align-items-center justify-content-lg-start ">
        <h1 class="heading" *ngIf="animateHeading" [@moveHeading] style="text-align: center;"><span class="big">404</span><br>Looks like your food <br>was lost in space!</h1>
    </div>
    <div >
        <div class="box_astronaut">
            <img class="object_astronaut" src="assets/images-rotation/astronaut.png" alt="astronaut" width="250px">
        </div>
        <div class="box_asian">
            <img class="object_astronaut" src="assets/images-rotation/asian.png" alt="asian food container" width="80px">
        </div>
        <div class="box_pizza">
            <img class="object_pizza" src="assets/images-rotation/pizza.png" alt="pizza slice" width="140px">
        </div>
        <div class="box_fast_food">
            <img class="object_astronaut" src="assets/images-rotation/fast_food.png" alt="burger fries and a refreshment" width="110px">
        </div>
        <div class="box_souvlaki">
            <img class="object_astronaut" src="assets/images-rotation/souvlaki.png" alt="pita gyros"width="120px">
        </div>
        <div class="box_coffee">
            <img class="object_astronaut" src="assets/images-rotation/coffee.png" alt="iced coffee" height="110px">
        </div>
        <div class="box_donut">
            <img class="object_donut" src="assets/images-rotation/donut.png" alt="donut" width="160px">
        </div>
        <div class="box_other">
            <img class="object_other" src="assets/images-rotation/other.png" alt="pie" width="150px">
        </div>
    </div>
</div>