<div class="container mt-3 mb-3">
    <h1 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success ">{{selectedCategory}}</h1>
    <div class="row row-cols-4 ">
        <div class="m-3" *ngFor="let store of stores">
            <div class="col-sm-4">
                <div class="card border border-success m-4" style="width: 18rem;">
                    <div class="card-body shadow">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">{{store.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> {{store.category}}</h6>
                        <p class="card-text">Address: {{store.address}}</p>
                        <a class="btn btn-success">See {{store.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>