<div class="card m-2" style="width: 18rem;">
    <img [src]="" class="card-img-top" [alt]="product.name">
    <div class="card-body position-relative">
      <h5 class="card-title text-wrap" style="width: 10rem;">{{ product.name }}<span class="badge bg-secondary" style="position: absolute; top: 20px; right: 20px;">{{ product.price }} $</span></h5>
      <p class="card-text">{{ product.category }}
      </p>
      <div class="row">
        <div class="col">
          <a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</a>
        </div>
        <div class="col text-end">
          <a class="btn btn-primary" (click)="onSelected()" >Add to cart</a>
        </div>
        
      </div>
      
    </div>
</div>

