<div class="container p-2">
    <div class="container border my-5">
        <h1 class="text-success mb-3">FAQs</h1>
        <h6> Πώς παραγγέλνω;</h6>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat autem officia saepe assumenda repudiandae in vitae deleniti adipisci dicta velit possimus repellendus placeat iure quisquam ab, consequatur pariatur quia voluptates.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus qui beatae facilis dolor velit suscipit animi quod ipsa tempore? Voluptatum odio repellendus possimus doloribus mollitia natus facere quibusdam expedita deleniti.</p>
        <h6> Σε πόση ώρα θα φτάσει η παραγγελία μου;</h6>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas doloribus eum explicabo cupiditate, quod optio facere rerum quasi nobis vero hic neque laboriosam odit sapiente. Soluta libero similique aut?</p>
        <h6>Πώς λειτουργεί;</h6>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis amet, porro repellendus, perferendis doloribus eaque velit sapiente qui ipsam nemo, excepturi exercitationem! Expedita distinctio voluptas ipsa aliquam at quisquam dolores!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis soluta incidunt molestias quaerat praesentium, aliquam consequuntur illum nostrum, aspernatur veniam, quibusdam earum recusandae maxime. Possimus impedit tenetur ad nobis eum?</p>
        <h6>Εχω αλλεργια, πως ενημερώνω το κατάστημα;</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis soluta incidunt molestias quaerat praesentium, aliquam consequuntur illum nostrum, aspernatur veniam, quibusdam earum recusandae maxime. Possimus impedit tenetur ad nobis eum?</p>
        <h6>Η παραγγελία μου άργησε , τι μπορώ να κάνω;</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis soluta incidunt molestias quaerat praesentium, aliquam consequuntur illum nostrum, aspernatur veniam, quibusdam earum recusandae maxime. Possimus impedit tenetur ad nobis eum?</p>
    </div>
</div>