<div class="container border">
  <div class="row d-grid gap-3">
    <h2 class="text-center">Καλώς όρισες!</h2>
    <form [formGroup]="form" (submit)="onSubmit()" class="col-4 mx-auto">
      <div>
        <label class="form-label">Τηλέφωνο<span class="text-danger">*</span></label>
        <input type="phone" formControlName="phone" class="form-control" placeholder="Τηλέφωνο"/>
        <span class="text-danger" *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched">*Υποχρεωτικό πεδίο</span>
      </div>
      <div>
        <label class="form-label">Email<span class="text-danger">*</span></label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email"/>
        <span class="text-danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">*Υποχρεωτικό πεδίο</span>
      </div>
      <div>
        <label class="form-label">Όνομα</label>
        <input type="name" formControlName="first_name" class="form-control" placeholder="Όνομα"/>
      </div>
      <div>
        <label class="form-label">Επώνυμο</label>
        <input type="name" formControlName="last_name" class="form-control" placeholder="Επώνυμο" />
      </div>
      <div>
        <label class="form-label">Διεύθυνση</label>
        <input formControlName="address" class="form-control" placeholder="Διεύθυνση"/>
      </div>
      <div>
        <label class="form-label">Κωδικός</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Κωδικός"/>
      </div>
    </form>
  </div>
  <div class="col-4 mx-auto d-grid gap-2 pt-4">
    <button routerLink="/discovery" [disabled]="form.invalid" type="submit" class="btn btn-success"> Παράγγειλε τώρα </button>
    <br />
  </div>
</div>
