

<div id="list-example" class="list-group" *ngFor ="let category of categories">
    <a class="list-group-item list-group-item-action" href="stores/{{store.id}}#{{category}}">{{category}}</a>
</div>   

<!-- <nav id="navbar-example" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" href="#">Categories</a>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor ="let category of categories" >
        <a class="list-group-item list-group-item-action" href="#{{category}}">{{category}}</a>
      </li>
    </ul>
  </nav> -->