/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';
::-webkit-scrollbar {
    width:14px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #adb5bd; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #495057; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #198754; 
  }