
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div *ngFor="let photo of productPhotos">
            <div *ngIf="photo.category==product.category">
                <img [src]="photo.background_image" class="card-img-top" alt="{{photo.category}} product photo">
            </div>
        </div>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text"><small class="text-body-secondary">{{product.category}}</small></p>
            <p class="card-text fw-light fst-italic">A delicious <span class="text-lowercase text-success">{{product.category}}</span> named <span class="text-lowercase text-success">{{product.name}}</span> at only {{product.price| number:'1.2-2' }} &euro;</p>
            
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" >Understood</button>
        </div>
      </div>
    </div>
  </div>