<div class="container">
    @for(rate of wantedRatings;track $index){
        <div class="card border-success mb-3" style="max-width: 540px;">
            <div class="card-header text-success"> {{rate.user}}</div>
            <div class="card-body ">
            <h5 class="card-title fst-italic fw-normal">{{rate.comment}}</h5>
            <p class="card-text text-end">{{rate.stars}} <span class="text-success"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="#star-fill"/></svg></span></p>
            <p class="card-text text-success fw-light "> {{rate.date}}</p>
            </div>
        </div>
    }
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="star-fill"  viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </symbol>
</svg>