
<div class="card mb-3">
  <div *ngFor="let photo of storePhotos">
                <div *ngIf="photo.name==store.name">
                    <img [src]="photo.cover" class="card-img-top" alt="{{photo.name}} store photo" style="height: 250px; object-fit: cover;">
                </div>
            </div>
    <div class="row g-0 p-4 ">
        <div class="col-md-2">
          <div *ngFor="let photo of storePhotos">
            <div *ngIf="photo.name==store.name">
                <img [src]="photo.background_image" class="card-img-top px-2" alt="{{photo.name}} store photo" style="width: 100%; height:5%">
            </div>
        </div>
         
        </div>
        <div class="col-md">
          
            <h3 class="card-title">{{ store.name }}</h3>
            <h6 class="card-subtitle mb-2 text-muted "> {{store.category}}</h6>
            <p class="card-text fst-italic">The best <span class="text-lowercase text-success">{{store.category}}</span> in town located at {{store.address}}.</p>
            <p class="card-text fw-light">Address: {{store.address}}</p>
            
         
        </div>
      </div>
  </div>